<div id="product-discount-timer"></div>

{% schema %}
{
    "name" : "Product Discount Message",
    "target" : "section",
    "templates": ["product"],
    "stylesheet": "product.css"
}
{% endschema %}